@use 'variables';

body{
    font-family:variables.$font;
    color:#121212;
}

.container{
    width:variables.$width_container;
    margin-left:auto;
    margin-right:auto;
};

a{
    color:#121212;
}

main{
    padding-top:100px;
    padding-bottom:100px;
}